{% extends 'main.html' %}
{% block content%}
<div class="card">
    <div class="card-body">
        <h2 style = "font-style: normal;">About FUTUREMAIL</h2>
        <p style="margin-top: 10px;">Future Mail is an Indie-dev Project, where users can send Letters to themselves or others in the future. During a summer camp when I was in middle school , I was given an activity by my instructer to write a letter to my future self in five years. I loved the thought of my future-self reading a message from my past-self about the goals i have set and life in general.</p><br>

        <p>But after some months when the camp ended, I lost track of the physical letter, and the idea struck me: what if I could save such letters digitally to never lose them again? That's how the idea of Future Mail was born. I'm currently experimenting with the project, working on Future updates and bug fixes. Thank you for trying out the early version.</p><br>
        
        <p>If you want more information or have any suggestions, feel free to email me at josephranamgr7@gmail.com Thank you!</p><br>
    </div>
  </div>
{%endblock%}