{%extends 'main.html'%}
{% block content%}
<div class="card card-specific">
    <div class="card-body">
        <h2 style = "font-style: normal;">HOW IT WORKS? </h2>
        <p style="margin-top: 15px;">When users create a Mail, it is validated and saved to the <i>FutureMail</i> Cloud Storage. It is securely stored and ready to mailed on the User's Selected Choice of Date. Because the project is a small scale passion project, the mailing time is not relevant to the Mail creation hours minute time, but the mails are delivered at a predetermined hour of the day on the selected date, this is done to reduce the server costs. This project is built around the <i>Django Framework.</i> Thank you</p>
    </div>
  </div>
{%endblock%}